.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.active {
  color: #c85a5a
}

li {
  list-style: none;
  float: left;
  margin: 0px 5px;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

.navbar {
  height: 2rem;
  background-color: #94ebb0;
  padding-top: .9rem;
  padding-bottom: .6rem;
}